
<div class="ps-title-bar">
    <div class="row">
        <div class="ps-logo-area col-sm-6">
            <img class="ps-icon" ng-src="{{ iconFile }}" />
            <div class="ps-title-area">

            </div>

            <div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()"
                 class="ps-collapsed-menu pull-right">
                <button type="button" class="btn ps-nav-button">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

        </div>

        <div class="ps-right-side-controls col-sm-6">
            <ps-user-profile-small></ps-user-profile-small>
        </div>
    </div>
</div>

<div class="ps-menu-area ps-menu-area-vertical"     ng-show="isMenuVisible">
    <dd-menu-panel>
        Datasets
    </dd-menu-panel>

    <dd-menu-panel>
        Variables
    </dd-menu-panel>

    <dd-menu-panel>
        Stories
    </dd-menu-panel>
</div>



