
$LayoutMainColor: #3fb7db;
$LayoutSecondaryColor: #2c4772;
$LayoutTertiaryColor: #96daae;
$LayoutQuaternaryColor: #dcf8ec;

$WidgetDataMain: #4185bb;
$WidgetDataSecondary: #59b3fd;
$WidgetDataTertiary: #173044;

$WidgetCalcMain: #bb8629;
$WidgetCalcSecondary: #dcd167;
$WidgetCalcTertiary: #513a12;

$WidgetStoryMain: #bb5ba2;
$WidgetStorySecondary: #f5c0e8;
$WidgetStoryTertiary: #3a1c32;

.layout-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-header{
  background-color:$LayoutMainColor;
  height: 80px;
}

.layout-middle{

  flex-grow: 1;
  display:flex;
  flex-direction:row;
}

.layout-middle-left{
  background-color:$LayoutSecondaryColor;
  width:200px;
}

.layout-middle-center{
  background-color:$LayoutQuaternaryColor;
  flex-grow:1;
}
.layout-middle-right{
  background-color:blanchedalmond;
  display:none;
}

.layout-footer{
  background-color:$LayoutMainColor;
  /*flex-grow: 1;*/
  /*flex-shrink: 1;*/
  /*flex-basis: 5;*/
}


//////  WIDGET  //////
.widget-container{
  border:white 1px solid;
}

.widget-title{
  color:red;
}


//////  DATASET  //////
dataset-nav{
  color:$WidgetDataMain;
}

.widget-datawindow{
  background-color:$WidgetDataMain;
  color:$WidgetDataSecondary;
  overflow: auto;

}

//////  CALCULATION  //////
calc-nav{
  color:$WidgetCalcMain;
}

.widget-calcwindow{
  background-color:$WidgetCalcMain;
  color:$WidgetCalcSecondary;
  overflow: auto;
}


//////  STORY  //////
story-nav{
  color:$WidgetStoryMain;
}

.widget-storywindow{
  background-color:$WidgetStoryMain;
  color:$WidgetStorySecondary;
  overflow: auto;
}

