.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.layout-header {
  background-color: #3fb7db;
  height: 80px; }

.layout-middle {
  flex-grow: 1;
  display: flex;
  flex-direction: row; }

.layout-middle-left {
  background-color: #2c4772;
  width: 200px; }

.layout-middle-center {
  background-color: #dcf8ec;
  flex-grow: 1; }

.layout-middle-right {
  background-color: blanchedalmond;
  display: none; }

.layout-footer {
  background-color: #3fb7db;
  /*flex-grow: 1;*/
  /*flex-shrink: 1;*/
  /*flex-basis: 5;*/ }

.gridster-item {
  overflow: hidden; }

.widget-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  overflow: auto; }

.widget-title {
  padding: 3px;
  color: #ace6fc; }

.widget-content-section {
  display: block; }

.widget-content-label {
  display: inline; }

.widget-content-value {
  display: inline; }

glossary-nav {
  color: #4185bb; }

.widget-glossary-window {
  background-color: #4185bb;
  color: #59b3fd;
  overflow: auto; }

.widget-glossary-variable-container {
  display: block; }

.widget-glossary-details {
  display: block; }

calc-nav {
  color: #ece345; }

.widget-calcwindow {
  background-color: #ece345;
  color: #4c3710;
  overflow: auto; }

.widget-calcwindow .widget-content-label {
  color: #513a12; }

.widget-calcwindow .widget-content-value {
  color: #bb8629; }

.widget-calcwindow-formula {
  background-color: #FFFFE0; }

story-nav {
  color: #bb5ba2; }

.widget-storywindow {
  background-color: #bb5ba2;
  color: #f5c0e8;
  overflow: auto; }
