
$LayoutMainColor: #3fb7db;
$LayoutSecondaryColor: #2c4772;
$LayoutTertiaryColor: #96daae;
$LayoutQuaternaryColor: #dcf8ec;

$WidgetDataMain: #4185bb;
$WidgetDataSecondary: #59b3fd;
$WidgetDataTertiary: #ace6fc;

$WidgetCalcMain: #ece345;
$WidgetCalcSecondary: #4c3710;
$WidgetCalcTertiary: #513a12;
$WidgetCalcContentLabel:#513a12;
$WidgetCalcContentValue: #bb8629;
$WidgetCalcFormulaBackground:#FFFFE0;

$WidgetStoryMain: #bb5ba2;
$WidgetStorySecondary: #f5c0e8;
$WidgetStoryTertiary: #3a1c32;

.layout-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-header{
  background-color:$LayoutMainColor;
  height: 80px;
}

.layout-middle{

  flex-grow: 1;
  display:flex;
  flex-direction:row;
}

.layout-middle-left{
  background-color:$LayoutSecondaryColor;
  width:200px;
}

.layout-middle-center{
  background-color:$LayoutQuaternaryColor;
  flex-grow:1;
}
.layout-middle-right{
  background-color:blanchedalmond;
  display:none;
}

.layout-footer{
  background-color:$LayoutMainColor;
  /*flex-grow: 1;*/
  /*flex-shrink: 1;*/
  /*flex-basis: 5;*/
}


//////  WIDGET  //////
.gridster-item{
  overflow: hidden;
}

.widget-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  overflow: auto;
}

.widget-title{
  padding:3px;
  color:$WidgetDataTertiary;
}

.widget-content-section{
  display: block;
}

.widget-content-label{
  display: inline;
}

.widget-content-value{
  display:inline;
}

//////  GLOSSARY  //////
glossary-nav{
  color:$WidgetDataMain;
}

.widget-glossary-window{
  background-color:$WidgetDataMain;
  color:$WidgetDataSecondary;
  overflow: auto;

}

.widget-glossary-variable-container{
  display:block;
}

.widget-glossary-details{
  display:block;
}

//////  CALCULATION  //////
calc-nav{
  color:$WidgetCalcMain;
}

.widget-calcwindow{
  background-color:$WidgetCalcMain;
  color:$WidgetCalcSecondary;
  overflow: auto;
}

.widget-calcwindow .widget-content-label{
  color: $WidgetCalcContentLabel;
}

.widget-calcwindow .widget-content-value{
  color: $WidgetCalcContentValue;
}

.widget-calcwindow-formula{
  background-color: $WidgetCalcFormulaBackground;
}

//////  STORY  //////
story-nav{
  color:$WidgetStoryMain;
}

.widget-storywindow{
  background-color:$WidgetStoryMain;
  color:$WidgetStorySecondary;
  overflow: auto;
}

