.layout-container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.layout-header{
    background-color:red;
    height: 80px;
}

.layout-middle{
    background-color:yellow;
    flex-grow: 1;
    display:flex;
    flex-direction:row;
}

.layout-middle-left{
    background-color:darkolivegreen;
    width:200px;
}

.layout-middle-center{
    background-color:burlywood;
    flex-grow:1;
}
.layout-middle-right{
    background-color:blanchedalmond;
    display:none;
}

.layout-footer{
    background-color:lightblue;
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    /*flex-basis: 5;*/
}
