.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.layout-header {
  background-color: #2f4537;
  height: 80px; }

.layout-middle {
  flex-grow: 1;
  display: flex;
  flex-direction: row; }

.layout-middle-left {
  background-color: #74ab88;
  width: 200px; }

.layout-middle-center {
  background-color: #dcf8ec;
  flex-grow: 1; }

.layout-middle-right {
  background-color: blanchedalmond;
  display: none; }

.layout-footer {
  background-color: #2f4537;
  /*flex-grow: 1;*/
  /*flex-shrink: 1;*/
  /*flex-basis: 5;*/ }

.widget-datawindow {
  background-color: #4185bb;
  color: #59b3fd; }

.widget-calcwindow {
  background-color: #bb8629;
  color: #dcd167; }

.widget-storywindow {
  background-color: #bb5ba2;
  color: #f5c0e8; }
