<div class="layout-container" ng-controller="doodleLayoutController" ng-init="findDatasets()">
    <div class="layout-header">header</div>
    <div class="layout-middle">



        <!--NAVIGATION PANEL-->
        <div class="layout-middle-left">

            <glossary-nav></glossary-nav>

            <calc-nav></calc-nav>

            <story-nav></story-nav>
        </div>



        <!--DASHBOARD-->
        <div class="layout-middle-center">


            <div gridster="gridsterOpts">
                <ul>
                    <li gridster-item="customItemMap" ng-repeat="item in doodleWidgets | filter:{onDashboard:true}"
                        ng-class="{'widget-datawindow':item.type==='dataset','widget-calcwindow':item.type==='calc',
                          'widget-storywindow':item.type==='story'}">
                        <glossary-widget ng-if="item.type==='glossary'" widgetitem="item"></glossary-widget>
                        <calcwidget ng-if="item.type==='calc'"></calcwidget>
                        <storywidget ng-if="item.type==='story'"></storywidget>

                    </li>
                </ul>
            </div>

        </div>
        <div class="layout-middle-right">middle-right</div>
    </div>
    <div class="layout-footer">footer</div>
</div>
