<div class="layout-container" ng-controller="doodleLayoutController">
    <div class="layout-header">header</div>
    <div class="layout-middle">
        <div class="layout-middle-left">middle-left</div>
        <div class="layout-middle-center">

            <div gridster="gridsterOpts">
                <ul>
                    <li gridster-item="customItemMap" ng-repeat="item in customItems"
                          ng-class="{'widget-datawindow':item.type==='data','widget-calcwindow':item.type==='calc',
                          'widget-storywindow':item.type==='story'}" >

                        <span ng-bind="item.type">hello</span>
                    </li>
                </ul>
            </div>

        </div>
        <div class="layout-middle-right">middle-right</div>
    </div>
    <div class="layout-footer">footer</div>
</div>
