.dd-menu-panel {
    border: 1px solid silver;
    margin: 1rem .5rem;

}

.dd-menu-panel-head {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.dd-menu-panel-head_title {
    flex: 3 auto;
    padding:1rem;
}

.dd-menu-panel-head-toggle {
    flex: none;
    background-color:#808080;
    padding:5px;
    cursor:pointer;
}
