<style>

    .headerbar-container{
        background-color: #008C88;
        padding-right: 100px;
        position: absolute;
        right: 0;
        left: 0;
    }
    .headerbar-logo{
        display: inline-block;
        color:white;
        width:220px;
    }
    .headerbar-title{
        display: inline-block;
        position: absolute;
        top: 50%;
        /* bottom: 50%; */
        transform: translateY(-50%);
        text-align: center;
        color:white;
    }
    .headerbar-credentials-container{
        display: inline-block;
        right: 10px;
        position: absolute;
        top: 50%;
        /* bottom: 50%; */
        transform: translateY(-50%);
    }
</style>
<div class="headerbar-container">
    <span class="headerbar-logo">
        <img src="images/ddHeaderLogo.svg">
    </span>
    <span class="headerbar-title">{{modelService.title}}</span>
    <span class="headerbar-credentials-container">ken sd fsd;kfl dskflj sdfdt</span>
</div>