<style>

    .headerbar-container {
        display: table;
        width: 100%;
        height: 37px;
        background-color: #008C88;
    }

    .headerbar-logo {
        width: 140px;
        display: table-cell;
        vertical-align: middle;
    }

    .headerbar-title {
        color: white;
        font-size: large;
        display: table-cell;
        border: none;
        text-align: center;
        vertical-align: middle;
    }

    .headerbar-files {
        color: #ffe366;
        display: table-cell;
        border: none;
        text-align: center;
        vertical-align: middle;
        font-size: large;
    }


    .headerbar-credentials-container {
        color: #c0c0c0;
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        content: "\e022";
    }


</style>
<div>

    <nav class="headerbar-container">
    <span class="headerbar-logo">
            <img src="images/ddHeaderLogo.svg" class="headerbar-logo"/>
    </span>
        <span class="headerbar-files glyphicon glyphicon-file" ></span>
        <span class="headerbar-title">{{modelService.title}}</span>
        <span class="headerbar-credentials-container "><span style="margin-right:20px">kent</span></span>
    </nav>
</div>